<h1>Account Administration</h1>
<div fxLayout="column" class="outerContainer">
    <div fxFlex>
    <mat-card class="mat-elevation-z8">
        <mat-card-content>
            <div fxLayout="column">



<!--USER management column-->
    <div fxFlex class="childColumnContainers">
        <p>User Management</p>
        
    </div>




<!--Security questions and Role Management Column-->
    <div fxFlex class="childColumnContainers">
        <div fxLayout="row">
            <div fxFlex class="childRowContainers">
<!--Security questions go here-->
               <p>Security Questions</p>
            </div>

            <div fxFlex class="childRowContainers">
<!--Role Management Goes here-->
                <p>Role Management</p>
            </div>
        </div>
    </div>





<!--Catalog and purchases graph column-->
    <div fxFlex class="childColumnContainers">
        <div fxLayout="row">
            <div fxFlex class="childRowContainers">
<!--Catalog Goes here-->
               <p>Catalog</p>
            </div>

            <div fxFlex class="childRowContainers">
<!--Purchases Graph goes here-->
                <p>Purchases</p>
            </div>
        </div>
    </div>



</div>
    </mat-card-content>
</mat-card>
</div>
</div>