#post {
    float: right;
}
h1{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 50px;
}

.outerContainer {
    width: 90%;
    margin: 0 auto;
}

.childColumnContainers{
    margin-top: 10px;
    margin-bottom: 5px;
}

.childRowContainers{
}

/**
Styling for Each container
**/

.userManagement{

}

.securityOptions{

}

.roleManagement{

}

.catalog{

}

.purchases{
    
}