<div fxLayout="column" class="outerContainer">
    <div fxFlex>
    <mat-card class="mat-elevation-z8">
        <mat-card-content>
            <div fxLayout="column">



<!--USER management column-->
    <div fxFlex>
        User Management
    </div>




<!--Security questions and Role Management Column-->
    <div fxFlex>
        <div fxLayout="row">
            <div fxFlex>
<!--Security questions go here-->
                Security Questions
            </div>

            <div fxFlex>
<!--Role Management Goes here-->
                Role Management
            </div>
        </div>
    </div>





<!--Catalog and purchases graph column-->
    <div fxFlex>
        <div fxLayout="row">
            <div fxFlex>
<!--Catalog Goes here-->
                Catalog
            </div>

            <div fxFlex>
<!--Purchases Graph goes here-->
                Purchases
            </div>
        </div>
    </div>



</div>
    </mat-card-content>
</mat-card>
</div>
</div>