h1{
    text-align: center;
}

p{
    font-weight: 500;
    font-size: 15px;
}

.outerContainer {
    width: 90%;
    margin: 0 auto;
}

.childColumnContainers{
    margin-top: 10px;
    margin-bottom: 5px;
}

.childRowContainers{

}

/**
Styling for Each container
**/

.userManagement{

}

.securityOptions{

}

.roleManagement{

}

.catalog{

}

.purchases{
    
}