<!--Outer container-->
<div fxLayout="column" class="singinOuterContainer">
  <div fxFlex>
      <h1>Reset Password</h1>
      <mat-card class="mat-elevation-z8">
          <mat-card-content>
              <!--inner container-->
              <div fxLayout="column" class="singinInnerContainer">
                  <!--LOGO-->
                  <div fxFlex>
                      <img src="./assets/logo.png" class="logo">
                  </div>
  

  
        <form *ngIf="securityQuestions" [formGroup]="form" (ngSubmit)="verifySecurityQuestions()" #usernameForm>
          <mat-card-content fxFlex fxLayout="column">
            <mat-list>
              <mat-list-item>
                {{ question1 }} &nbsp; &nbsp;
                <mat-form-field fxFlex>
                  <input matInput [formControl]="form.controls['answerToSecurityQuestion1']" placeholder="Answer 1" />
                </mat-form-field>
              </mat-list-item>
  
              <mat-list-item>
                {{ question2 }} &nbsp; &nbsp;
                <mat-form-field fxFlex>
                  <input matInput [formControl]="form.controls['answerToSecurityQuestion2']" placeholder="Answer 2" />
                </mat-form-field>
              </mat-list-item>
  
              <mat-list-item>
                {{ question3 }} &nbsp; &nbsp;
                <mat-form-field fxFlex>
                  <input matInput [formControl]="form.controls['answerToSecurityQuestion3']" placeholder="Answer 3" />
                </mat-form-field>
              </mat-list-item>
            </mat-list>
            <br/><br/>
  
            <div fxFlex fxLayoutAlign="end">
              <a fxFlex fxLayoutAlign="start" routerLink="/session/forgot">
                <mat-icon>west</mat-icon>
                </a>
              <button mat-raised-button color="primary" button routerLink="/session/signin">Cancel</button>
              <button mat-raised-button color="accent">Next</button>
            </div>
            
          </mat-card-content>
        </form>
    </div>

