<mat-card>
    <mat-card-content>
<p><span class="title">Order Details</span><span style="float: right;">Order Date:<br />{{transaction.orderDate | date:'medium'}}</span></p>
<mat-divider></mat-divider>
<br />
      <div fxLayout="column">
              <div fxFlex>
                <div fxLayout="row">
                  <div fxFlex>
                Line Items:
                <ul *ngFor="let item of transaction.lineItem">
                    <li>
                    Title:{{item.title}}<br />Amount:{{item.price | currency}}
                  
                  </li>
                  </ul>
                  Line Item Total:<br /> {{transaction.lineItemTotal | currency}}
                </div>
                <div fxFlex>
                  <div fxFlex>
                    <ul>
                      <li>Parts Amount:<br /> {{transaction.partsAmount | currency}}</li>
                      <li>Labor Amount:<br /> {{transaction.laborAmount | currency}}</li>
                  </ul>
                  </div>
                </div>
                </div>
            </div>
    </div><br />
<h3 align="end" style="font-weight: 600; text-decoration: underline;">Grand Total: {{transaction.total | currency}}</h3>

<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="false" color="primary">Close</button>
</mat-dialog-actions>
</mat-card-content>
</mat-card>