<div fxLayout="column" class="outerContainer">
        <div fxFlex>
            <img src="./assets/about2.png" class="logo">
            <h1>About Us</h1><br />
            <!--Original royalty free image provided from https://www.pinclipart.com/picdir/middle/2-24114_wheel-clip-art-download-gear-icon-royalty-free.png-->
        </div>
    <div fxFlex>
<mat-card>
<mat-card-content>
    <div fxLayout="column">
        <div fxFlex>
            <p><strong>Bob's Computer Repair Shop has been in existence since 2020.</strong> It was founded primary for the reason being that people needed their computers fixed. Bob has the technical training requisite to be able to deliver a quality computer fix. Services offered include the fixing of broken computers; fixing of broken routers and phones. Bob really has a great skill of fixing things and is able to help you today! If you ever are in need of a computer fix or find yourself in a computer bind Bob will be there to save you time and money! Bob has the requisite skills in order to fix your computer!</p>
            <mat-divider [inset]="true"></mat-divider>
            <p> The following will be a backstory about Bob. Bob has been in the Technology Business for 10 Years and has seen the times evolve as technology has changed. Not many people have the skills Bob has in order to fix computers. Bob has a degree in Computer Fixing from a renowned university. <strong>Bob has fixed over 1000 computers in his time as a Computer Technician.</strong></p>
        </div>
    </div>
</mat-card-content>
</mat-card>
</div>
</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />