<mat-card>
    <mat-card-title>
        <p color="primary" style="text-align: center">Register For An Account</p>
    </mat-card-title>
</mat-card>
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="formSubmitOne">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, Fist name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <a routerLink="/session/signin">Back To Sign In</a>
                <button mat-button type="submit" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup" (ngSubmit)="formSubmitTwo">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 123 Test Street" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button type="submit" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>You're Signed In!</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
         </div>
    </mat-step>
</mat-horizontal-stepper>
