<mat-card>
    <mat-card-title>
        <p color="primary" style="text-align: center">Register For An Account</p>
    </mat-card-title>
</mat-card>
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
       <h1 style="text-align: center;">Sign Up</h1>
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Register Account</ng-template>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. thespidermonkey25" formControlName="username" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Ex. root" formControlName="password" required> 
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Ex. Peter" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Parker" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Ex. 867 5309" formControlName="phoneNumber" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placehodler="Ex. 12 Brooklyn Street" formControlName="address" required>
            </mat-form-field>
            <div>
                <a routerLink="/session/signin">Sign In</a>
                <button mat-button (click)="registerAccount()" matStepperNext>Create Account</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Security Questions">
        <form [formGroup]="secondFormGroup">
        <h1 style="text-align: center;">Security Questions</h1>
        <mat-form-field appearance="fill">
            <mat-label>Please Choose A Question:</mat-label>
            <mat-select [(value)]="securityQuestion1" *ngFor="let question of questions">
                <mat-option>{{ question.questionId }}</mat-option>
            </mat-select>
            <input matInput placeholder="Answer" formControlName="securityQuestion1Answer" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Please Choose A Question:</mat-label>
            <mat-select [(value)]="securityQuestion2" *ngFor="let question of questions">
                <mat-option>{{ question.questionId }}</mat-option>
            </mat-select>
            <input matInput placeholder="Answer" formControlName="securityQuestion2Answer" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Please Choose A Question:</mat-label>
            <mat-select [(value)]="securityQuestion3" *ngFor="let question of questions">
                <mat-option>{{ question.questionId }}</mat-option>
            </mat-select>
            <input matInput placeholder="Answer" formControlName="securityQuestion3Answer" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="setSecurityQuestions()" matStepperNext>Set</button>
        </div>
    </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Sign In">
        <h1 style="text-align: center;">Sign In</h1>
        <form [formGroup]="thirdFormGroup">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Ex. spidermonkey25" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Ex. Password" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Create Account</button>
            <button mat-button (click)="signIn()" matStepperNext>Sign In</button>
        </div>
    </form>
</mat-step>
</mat-horizontal-stepper>