.outerContainer {
  width: 90%;
  margin: 0 auto;
}

.childColumnContainers{
  margin-top: 10px;
  margin-bottom: 5px;
}

.ad{
  text-align: center;
}

.adButton{
  float: right;
  width: 1px;
  background-color: #0d48a156;
  color: rgba(255, 255, 255, 0.61);
}

.adContainer{
  background-color: #0d48a1e1;
}


h1{
  font-weight: 200;
  font-size: 28px;
}

.contact{
  font-size: 12px;
  font-weight: 200;
}

h3{
  margin-top: -5px;
  margin-bottom: -5px;
}