<div fxLayout="column" class="outerContainer">
  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <div fxFlex class="childColumnContainers">
            <h1> Welcome, {{user}}!</h1>
          </div>

          <div fxFlex class="childColumnContainers" *ngIf="ad != false && !adCookie">
            <mat-card>
              <mat-card-content class="ad" (click)="hideAd()">
                Ad goes here
                <button 
                mat-raised-button 
                class="adButton">X</button>
                <br>
                <p>Terms and conditions apply.</p>
              </mat-card-content>
            </mat-card>
          </div>


          <div fxFlex class="childColumnContainers">
            <mat-card>
              <mat-card-content class="ad">
                <h3>Purchases By Graph</h3>
                Coming soon
              </mat-card-content>
            </mat-card>
          </div>


          <div fxFlex class="childColumnContainers">
            <div fxLayout="row wrap" fxLayoutGap="10px">
              <div fxFlex>
                <mat-card>
                  <mat-card-content>
                    <app-createorder></app-createorder>
                  </mat-card-content>
                </mat-card>
              
              </div>
              <div fxFlex>
                <mat-card>
                  <mat-card-content>
                    <app-orderhistory></app-orderhistory>
                  </mat-card-content>
                </mat-card>
                
              </div>
            </div>
          </div>


          <div fxFlex class="childColumnContainers">
            <mat-card>
              <mat-card-content class="ad">
                <h3>Questions?</h3>
                <p routerLink="/contact" class="contact">Contact</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
