<!--Outer container-->
<div fxLayout="column">
    <div fxFlex>
        <mat-card class="mat-elevation-z8">
            <mat-card-content>
        <!--inner container-->
        <div fxLayout="column" >
            <!--SigninForm-->
            <div fxFlex>
                <form [formGroup]="form" 
                      (ngSubmit)="changePassword(); form.reset()" 
                      #loginForm="ngForm">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput 
                               [formControl]="form.controls['password']" 
                               placeholder="password" >
                      </mat-form-field><br />
              
                        <div mat-dialog-actions align="end">
                        <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
                        <button type="submit" 
                                mat-raised-button 
                                color="primary"
                                [disabled]="!form.valid">Change Password</button><br />
                                </div>
                </form>
            </div>
        </div>
    </mat-card-content>
    </mat-card>
    </div>
</div>